.column{
    margin-right: 10px;
    background-color: #EBECF0;
    min-width: 250px;
    border-radius: 3px;
    padding: 10px;
    max-height: 600px;
   
}
.overflowCards{
    min-height: 15px;
    overflow: auto; 
    max-height: 450px;
    width: 100%;
}